<% layout("/layouts/boilerplate") %>
<body>
    <h1>Privacy Policy</h1>
    <p>Last updated: 12-08-2024</p>

    <p>Welcome to the Volleyball Club. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about this privacy notice, or our practices with regards to your personal information, please contact us at [Contact Information].</p>

    <h2>Information We Collect</h2>
    <p>We collect personal information that you voluntarily provide to us when you register on the website, express an interest in obtaining information about us or our services, participate in activities on the website, or otherwise contact us.</p>

    <h2>How We Use Your Information</h2>
    <p>We use personal information collected via our website for a variety of business purposes described below:</p>
    <ul>
        <li>To facilitate account creation and login process.</li>
        <li>To send administrative information to you.</li>
        <li>To fulfill and manage your orders.</li>
        <li>To manage user accounts.</li>
        <li>To post testimonials.</li>
        <li>To deliver and facilitate delivery of services to the user.</li>
        <li>To respond to user inquiries/offer support to users.</li>
    </ul>

    <h2>Sharing Your Information</h2>
    <p>We do not share, sell, rent or trade any of your information with third parties for their promotional purposes.</p>

    <h2>Data Security</h2>
    <p>We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, please also remember that we cannot guarantee that the internet itself is 100% secure.</p>

    <h2>Your Privacy Rights</h2>
    <p>In some regions, such as the European Economic Area (EEA), you have rights that allow you greater access to and control over your personal information.</p>

    <h2>Contact Us</h2>
    <p>If you have questions or comments about this notice, Please contact us at  <a href="https://www.instagram.com/___devils_lover___ghostrider/" style="text-decoration: none; color: black;"><i class="fa-brands fa-square-instagram"></i></a>.</p>

    <p>NIT Silchar VolleyBall club Official</p>
</body>

