<% layout("/layouts/boilerplate") %>
<body>
    <h1>Terms of Service</h1>
    <p>Last updated: 12-08-2024</p>

    <p>Welcome to the Volleyball Club website. These terms of service outline the rules and regulations for the use of our website. By accessing this website we assume you accept these terms and conditions. Do not continue to use the Volleyball Club website if you do not agree to take all of the terms and conditions stated on this page.</p>

    <h2>License</h2>
    <p>Unless otherwise stated, Volleyball Club and/or its licensors own the intellectual property rights for all material on Volleyball Club. All intellectual property rights are reserved. You may access this from Volleyball Club for your own personal use subjected to restrictions set in these terms and conditions.</p>

    <h2>Usage Restrictions</h2>
    <p>You are specifically restricted from the following:</p>
    <ul>
        <li>Publishing any material from the Volleyball Club website in any other media without prior consent.</li>
        <li>Selling, sublicensing, and/or otherwise commercializing any material from the website.</li>
        <li>Publicly performing and/or showing any material from the website.</li>
        <li>Using this website in any way that is or may be damaging to this website.</li>
        <li>Using this website in any way that impacts user access to this website.</li>
        <li>Using this website contrary to applicable laws and regulations.</li>
        <li>Engaging in any data mining, data harvesting, data extracting, or any other similar activity in relation to this website.</li>
    </ul>

    <h2>Limitation of Liability</h2>
    <p>In no event shall Volleyball Club, nor any of its officers, directors, and employees, be held liable for anything arising out of or in any way connected with your use of this website.</p>

    <h2>Indemnification</h2>
    <p>You hereby indemnify to the fullest extent Volleyball Club from and against any and/or all liabilities, costs, demands, causes of action, damages, and expenses arising in any way related to your breach of any of the provisions of these terms.</p>

    <h2>Governing Law & Jurisdiction</h2>
    <p>These terms will be governed by and interpreted in accordance with the laws of Assam/India, and you submit to the non-exclusive jurisdiction of the state and federal courts located in NIT Silchar,Assam for the resolution of any disputes.</p>

    <h2>Changes to These Terms</h2>
    <p>We reserve the right to amend these terms and conditions at any time. Any changes will be posted on this page.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions about these Terms, please contact us at <a href="https://www.instagram.com/___devils_lover___ghostrider/" style="text-decoration: none; color: black;"><i class="fa-brands fa-square-instagram"></i></a>.</p>

    <p>NIT Silchar VolleyBall club official</p>
</body>
